# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de logs
*.log

# Paramètres d'environnement local
.env
.env.*

# Dossiers d'éditeur
.vscode/
.idea/

# Fichiers SQLite
*.sqlite3

# Dossier de virtualenv
env/
venv/
ENV/
.venv/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers JetBrains/PyCharm
*.iml
*.ipr
*.iws
.idea/
