{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="text-center mb-4 text-primary">
        📅 Ajouter un rendez-vous pour {{ patient.nom }} {{ patient.prenom }}
    </h3>
    {% if form.non_field_errors %}
      <div class="alert alert-warning">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="card shadow border-0">
        <div class="card-body">
            
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_date_rdv" class="form-label">Date</label>
                    {{ form.date_rdv }}
                </div>
                <div class="mb-3">
                    <label for="id_heure" class="form-label">Heure</label>
                    {{ form.heure }}
                </div>
                <div class="mb-3">
                    <label for="id_motif" class="form-label">Motif</label>
                    {{ form.motif }}
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'patient_detail' patient.id %}" class="btn btn-outline-secondary">← Retour</a>
                    <button type="submit" class="btn btn-primary">Valider le rendez-vous</button><a href="{% url 'medecin_dashboard' %}" class="btn btn-outline-secondary mb-3">
                        ⬅️ Retour au tableau de bord
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
